
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lista de Produtos</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Lista de produtos</h1>
    </div>
    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <a href="/admin/produtos/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo Produto</button></a>
    </nav>
    <div class="card mb-3" th:each="produtoLista : ${produtos}">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">
                    <div class="row">
                        <div class="form-control mb-3">ID: <span th:text="${produtoLista.id}"></span></div>
                        <div class="form-control mb-3">PRODUTO: <span th:text="${produtoLista.nome}"></span></div>
                        <div class="form-control mb-3">PREÇO: <span th:text="${produtoLista.preco}"></span></div>
                        <div class="form-control mb-3">CLASSE FISCAL: <span th:text="${produtoLista.classeFiscal}"></span></div>
                    </div>
                    <div>DESCRIÇÃO</div>
                    <div>
                        <textarea class="form-control" th:text="${produtoLista.descricao}">DESCRIÇÃO </textarea>
                    </div>


                </div>

            </div>
    </div>

    </div>


</div>
</body>
</html>

